.toastui-editor-defaultUI {
    border: none !important;

    .toastui-editor-toolbar {
        height: auto;

        .toastui-editor-defaultUI-toolbar {
            background-color: $primary;
            border: solid 1px rgba(240, 240, 240, 0.3);
            border-radius: 6px 6px 0 0;
            padding: 1px 25px;
            height: 46.8px;

            .toastui-editor-toolbar-icons {
                border: 1px solid $primary;
                background-position-y: -49px;

                &.color {
                    background-position-y: -46px;
                }

                &:hover {
                    background-color: $secondary;
                }
            }
        }
    }

    .toastui-editor-popup {
        border: none;
        background-color: $primary;
        color: $moon-white;
        .toastui-editor-popup-body {
            .tab-item,
            label {
                color: $moon-white;
            }
            ul {
                li {
                    &:hover {
                        background-color: $secondary;
                    }
                }
            }
        }
    }

    .toastui-editor-main-container {
        .toastui-editor-ww-container,
        .toastui-editor-md-container {
            background: rgba(240, 240, 240, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            border: solid rgba(240, 240, 240, 0.3);
            border-width: 0 1px;
            padding: 16px 40px;

            .toastui-editor-md-splitter {
                top: 0;
                background-color: rgba(240, 240, 240, 0.3);
            }

            * {
                color: $moon-white;
            }
        }
    }

    .toastui-editor-mode-switch {
        background-color: $primary;
        color: $moon-white;
        border: solid 1px rgba(240, 240, 240, 0.3);
        border-radius: 0 0 6px 6px;
        height: auto;
        padding: 0;
        overflow: hidden;

        .tab-item {
            background-color: $primary;
            color: $moon-white;
            border: none;
            margin: 0;
            border-radius: 0;

            &:hover,
            &.active {
                border: none;
                background-color: $secondary;
                color: $moon-white;
            }
        }
    }
}

.toastui-editor-contents *:not(span[style*='color']) {
    color: $moon-white !important;

    strong {
        font-weight: 800;
    }
}
