* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import 'variables';
@import 'header';
@import 'background';
@import 'general';
@import 'easymde';
@import 'toastUI';
@import 'pages/pages';
