#isotope-page {

    .isotope-grid-item {
        text-decoration: none;
        color: $moon-white;

        .isotope-grid-card {
            display: flex;
            width: 300px;
    
            background-color: $moon-dark-grey;
        }
    }
}
