<!-- <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" />
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script> -->

<main id="note-editor">
    <div class="page-header shadow-sm sticky-top">
        <div class="container-xl">
            <div class="d-flex align-items-center justify-content-between">
                <h1 tabindex="0" class="app-page-title m-0">Character Editor</h1>
            </div>
        </div>
    </div>

    <div class="content pt-3 p-md-3 p-lg-4">
        <div class="row">
            <div class="card page-card col-8">
                <div class="card-header">
                    <h4 class="card-title">Character Information</h4>
                </div>

                <div class="card-body" id="character-info"></div>
            </div>

            <div class="card page-card col-4">
                <div class="card-header">
                    <h4 class="card-title">Character Components</h4>
                </div>

                <div class="card-body">
                    <div id="component-list"></div>
                    <select class="form-control form-select" id="component-select">
                        <option value="" hidden>Select a component</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</main>

<button id="save-button">
    <i class="bx bxs-save"></i>
</button>

<script type="module">
    const componentSelect = document.getElementById('component-select');
    const characterInfoEl = document.getElementById('character-info');
    const componentListEl = document.getElementById('component-list');

    const saveButton = document.getElementById('save-button');

    const characterData = [
        {
            name: 'Xazzi',
            race: 'Kobold',
            type: 'general',
            order: 0,
        },
        {
            class: 'Artificer',
            subclass: 'Armourer',
            level: '6',
            type: 'class',
            order: 1,
        },
        {
            title: 'Fun Fact',
            content: 'Xazzi exists',
            type: 'textbox',
            order: 2,
        },
    ];

    let unsavedChanges = false;

    class Component {
        constructor(key) {
            // Generate a random ID for the component
            this.id = Date.now();

            this.componentEl = document.createElement('div');
            this.componentEl.dataset.componentId = this.id;

            this.dataEl = document.createElement('div');
            this.dataEl.dataset.componentId = this.id;
            this.dataEl.classList.add('mb-3');

            this.dataEl.innerHTML = `
                <div class="card highlight">
                    <div class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-${this.id}">
                        ${key}
                        <div class="move-buttons">
                            <button class="bx bx-chevron-up" id="move-up"> </button>
                            <button class="bx bx-chevron-down" id="move-down"> </button>
                        </div>
                    </div>

                    <div class="card-body collapse p-0" id="collapse-${this.id}">
                        <div class="card-inner p-3">
                            <div class="form-group" component-data>

                            </div>

                            <button class="btn btn-danger" id="delete-button">Delete</button>
                        </div>
                    </div>
                </div>
            `;

            // Add event listeners for the move up and move down buttons
            this.dataEl.querySelector(`#move-up`).addEventListener('mousedown', (e) => {
                e.stopPropagation();

                const index = components.findIndex((component) => component.id === this.id);

                if (index === 0) return;

                const temp = components[index - 1];
                components[index - 1] = components[index];
                components[index] = temp;

                characterInfoEl.insertBefore(this.componentEl, this.componentEl.previousElementSibling);
                componentListEl.insertBefore(this.dataEl, this.dataEl.previousElementSibling);

                unsavedChanges = true;
                saveButton.classList.add('active');
            });
            this.dataEl.querySelector(`#move-down`).addEventListener('mousedown', (e) => {
                e.stopPropagation();

                const index = components.findIndex((component) => component.id === this.id);

                if (index === components.length - 1) return;

                const temp = components[index + 1];
                components[index + 1] = components[index];
                components[index] = temp;

                characterInfoEl.insertBefore(this.componentEl, this.componentEl.nextElementSibling.nextElementSibling);
                componentListEl.insertBefore(this.dataEl, this.dataEl.nextElementSibling.nextElementSibling);

                unsavedChanges = true;
                saveButton.classList.add('active');
            });

            this.dataEl.querySelector('#delete-button').addEventListener('click', () => this.deleteComponent());

            components.push(this);
        }

        generateComponent() {
            return this;
        }

        toJson() {
            return this;
        }

        deleteComponent() {
            if (!confirm('Are you sure you want to delete this component?')) return;

            this.componentEl.remove();
            this.dataEl.remove();

            components = components.filter((component) => component.id !== this.id);

            for (const key in componentLimits) {
                const limit = componentLimits[key];
                const filteredComponents = components.filter((component) => component instanceof componentList[key]);

                if (filteredComponents.length < limit) {
                    componentSelect.querySelector(`option[value="${key}"]`).disabled = false;
                }
            }

            delete this;
        }

        render() {
            this.generateComponent();

            characterInfoEl.appendChild(this.componentEl);
            componentListEl.appendChild(this.dataEl);
        }
    }

    const componentList = {
        // Name and Race
        general: class GeneralComponent extends Component {
            constructor(key) {
                super(key);

                this.componentEl.classList.add('form-group', 'mb-3');
                this.componentType = 'general';
            }

            generateComponent() {
                const rowDiv = document.createElement('div');
                rowDiv.className = 'row';

                // Create the label and input for Name
                const nameDiv = document.createElement('div');
                nameDiv.className = 'col-lg-6 mb-3';

                const nameLabel = document.createElement('label');
                nameLabel.for = 'name-component';
                nameLabel.innerHTML = 'Name';

                const nameInput = document.createElement('input');
                nameInput.type = 'text';
                nameInput.classList.add('form-control');
                nameInput.id = 'name-component';

                nameDiv.append(nameLabel, nameInput);

                // Create the label and input for Race

                const raceDiv = document.createElement('div');
                raceDiv.className = 'col-lg-6 mb-3';

                const raceLabel = document.createElement('label');
                raceLabel.for = 'race-component';
                raceLabel.innerHTML = 'Race';

                const raceInput = document.createElement('input');
                raceInput.type = 'text';
                raceInput.classList.add('form-control');
                raceInput.id = 'race-component';

                raceDiv.append(raceLabel, raceInput);

                // Append the nameDiv and raceDiv to the rowDiv
                rowDiv.append(nameDiv, raceDiv);

                // Append the rowDiv to the componentEl
                this.componentEl.append(rowDiv);
            }

            fillComponent() {
                this.componentEl.querySelector('#name-component').value = this.data.name;
                this.componentEl.querySelector('#race-component').value = this.data.race;
            }

            toJson() {
                return {
                    name: this.componentEl.querySelector('#name-component').value,
                    race: this.componentEl.querySelector('#race-component').value,
                };
            }
        },
        // Character Class Info
        class: class ClassComponent extends Component {
            constructor(key) {
                super(key);

                this.componentEl.classList.add('form-group', 'mb-3');
                this.componentType = 'class';
            }

            generateComponent() {
                // Create a row div
                const rowDiv = document.createElement('div');
                rowDiv.className = 'row';

                // Create the label and input for Class
                const classDiv = document.createElement('div');
                classDiv.className = 'col-lg-4 mb-3';

                const classLabel = document.createElement('label');
                classLabel.for = 'class-component';
                classLabel.innerHTML = 'Class';

                const classInput = document.createElement('input');
                classInput.type = 'text';
                classInput.classList.add('form-control');
                classInput.id = 'class-component';

                classDiv.append(classLabel, classInput);

                // Create the label and input for Subclass
                const subclassDiv = document.createElement('div');
                subclassDiv.className = 'col-lg-4 mb-3';

                const subclassLabel = document.createElement('label');
                subclassLabel.for = 'subclass-component';
                subclassLabel.innerHTML = 'Subclass';

                const subclassInput = document.createElement('input');
                subclassInput.type = 'text';
                subclassInput.classList.add('form-control');
                subclassInput.id = 'subclass-component';

                subclassDiv.append(subclassLabel, subclassInput);

                // Create the label and input for Level
                const levelDiv = document.createElement('div');
                levelDiv.className = 'col-lg-4 mb-3';

                const levelLabel = document.createElement('label');
                levelLabel.for = 'level-component';
                levelLabel.innerHTML = 'Level';

                const levelInput = document.createElement('input');
                levelInput.type = 'number';
                levelInput.classList.add('form-control');
                levelInput.id = 'level-component';

                levelDiv.append(levelLabel, levelInput);

                // Append the classDiv, subclassDiv, and levelDiv to the rowDiv
                rowDiv.append(classDiv, subclassDiv, levelDiv);

                // Append the rowDiv to the componentEl
                this.componentEl.append(rowDiv);
            }

            fillComponent() {
                this.componentEl.querySelector('#class-component').value = this.data.class;
                this.componentEl.querySelector('#subclass-component').value = this.data.subclass;
                this.componentEl.querySelector('#level-component').value = this.data.level;
            }

            toJson() {
                return {
                    class: this.componentEl.querySelector('#class-component').value,
                    subclass: this.componentEl.querySelector('#subclass-component').value,
                    level: this.componentEl.querySelector('#level-component').value,
                };
            }
        },
        // Generic Renamable Textbox
        textbox: class TextboxComponent extends Component {
            constructor(key) {
                super(key);

                this.componentEl.classList.add('form-group', 'mb-3');
                this.componentType = 'textbox';
                this.title = 'Textbox';

                this.dataEl.querySelector('[component-data]').innerHTML = `
                    <label for="textbox-component">Title</label>
                    <input type="text" class="form-control" id="textbox-component">${this.title}</input>
                `;

                this.dataEl.querySelector('[component-data] #textbox-component').addEventListener('input', (e) => {
                    const value = e.target.value;

                    this.title = value;
                    this.dataEl.querySelector('.card-header').innerHTML = 'Textbox - ' + value;
                    this.componentEl.querySelector('label').innerHTML = value;
                });
            }

            generateComponent() {
                const label = document.createElement('label');
                label.for = 'textbox-component';
                label.innerHTML = 'Textbox';

                const textarea = document.createElement('textarea');
                textarea.classList.add('form-control');
                textarea.id = 'textbox-component';

                this.componentEl.append(label, textarea);
            }

            fillComponent() {
                this.dataEl.querySelector('[component-data] #textbox-component').value = this.data.title;
                this.componentEl.querySelector('textarea').value = this.data.content;
            }

            toJson() {
                return {
                    title: this.title,
                    content: this.componentEl.querySelector('textarea').value,
                };
            }
        },
    };

    let components = [];
    let componentLimits = {
        general: 1,
    };

    for (const key in componentList) {
        const option = document.createElement('option');
        option.classList.add('p-2');
        option.value = key;
        option.innerHTML = key;

        componentSelect.appendChild(option);
    }

    function setupListeners() {
        // Handle Component Selector
        componentSelect.addEventListener('change', (e) => {
            const component = new componentList[componentSelect.value](componentSelect.value);
            component.render();

            for (const key in componentLimits) {
                const limit = componentLimits[key];
                const filteredComponents = components.filter((component) => component instanceof componentList[key]);

                if (filteredComponents.length >= limit) {
                    componentSelect.querySelector(`option[value="${key}"]`).disabled = true;
                }
            }

            componentSelect.value = '';
        });

        document.addEventListener('input', () => {
            unsavedChanges = true;

            saveButton.classList.add('active');
        });

        saveButton.addEventListener('click', () => {
            const JSONData = generateJSON();

            console.log(JSONData);

            callService(
                '/content/saveCharacter',
                'POST',
                (res, xhr) => {
                    if (xhr.status === 200) {
                        unsavedChanges = false;
                        saveButton.classList.remove('active');

                        saveButton.classList.remove('active');
                    } else {
                        alert('Failed to save character.');
                    }
                },
                JSONData
            );
        });

        window.addEventListener('beforeunload', (e) => {
            // if (unsavedChanges) {
            //     e.preventDefault();
            //     e.returnValue = '';
            // }
        });
    }

    function generateJSON() {
        const characterInfo = [];

        components.forEach((component, i) => {
            let JSONData = component.toJson();

            JSONData.type = component.componentType;
            JSONData.order = i;

            characterInfo.push(JSONData);
        });

        return characterInfo.sort((a, b) => a.order - b.order);
    }

    function setupPage() {
        if (!characterData) {
            const component = new componentList.General('general');
            component.render();
        } else {
            characterData.forEach((component) => {
                const newComponent = new componentList[component.type](component.type);
                newComponent.render();

                newComponent.data = component;
                newComponent.fillComponent();

                for (const key in componentLimits) {
                    const limit = componentLimits[key];
                    const filteredComponents = components.filter((component) => component instanceof componentList[key]);

                    if (filteredComponents.length >= limit) {
                        componentSelect.querySelector(`option[value="${key}"]`).disabled = true;
                    }
                }
            });
        }

        for (const key in componentLimits) {
            const limit = componentLimits[key];
            const filteredComponents = components.filter((component) => component instanceof componentList[key]);

            if (filteredComponents.length >= limit) {
                componentSelect.querySelector(`option[value="${key}"]`).disabled = true;
            }
        }

        setupListeners();
    }

    setupPage();
</script>
