<link href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator.min.css" rel="stylesheet" />
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.1/dist/js/tabulator.min.js"></script>

<main id="table-page">
    <div class="page-header shadow-sm sticky-top">
        <div class="container-xl">
            <div class="d-flex align-items-center justify-content-between">
                <h1 tabindex="0" class="app-page-title m-0">Locations</h1>
                <a href="/note-editor?type=locations&new=true" class="btn btn-primary">Create Location</a>
            </div>
        </div>
    </div>

    <div class="content pt-3 p-md-3 p-lg-4">
        <div id="location-table"></div>
    </div>
</main>

<script type="module">
    let locations = [];
    let typeList = [];
    let table;

    setupPage();

    function setupPage() {
        callService('/content/getNotes/locations', 'GET', (res, xhr) => {
            if (xhr.status === 200) {
                locations = res;

                console.log(locations)

                typeList = locations.map((c) => {
                    let locationType = c.location_type.toLowerCase();

                    locationType = locationType.replace(/^./, locationType[0].toUpperCase());

                    return locationType;
                });
                typeList = typeList.filter((value, index, self) => self.indexOf(value) === index);

                setupTable();
                setupListeners();
            }
        });
    }

    function setupTable() {
        let tableColumns = [
            {
                field: 'icon',
                formatter: function (cell) {
                    let el = cell.getElement();
                    let data = cell.getData();

                    if (!data.icon) {
                        return '';
                    }

                    el.style.paddingLeft = '10px';

                    let container = document.createElement('div');
                    container.style.display = 'flex';
                    container.style.justifyContent = 'center';
                    container.style.alignItems = 'center';
                    container.style.backgroundColor = data.colour;
                    container.style.padding = '5px';

                    let img = document.createElement('img');
                    img.src = data.icon;
                    img.alt = data.name;
                    img.style.height = '30px';
                    img.style.width = '30px';
                    img.style.filter = `drop-shadow(0 0 2px #ffffffaa) drop-shadow(0 0 2px #ffffffaa) drop-shadow(0 0 2px #ffffffaa)`;

                    container.appendChild(img);

                    return container;
                },
                width: 50,
                resizable: false,
                headerSort: false,
            },
            { title: 'Name', field: 'name', sorter: 'string', resizable: false, headerFilter: 'input' },
            { title: 'Type of Location', field: 'location_type', sorter: 'string', resizable: false, headerFilter: 'input' },
            {
                title: 'Tags',
                field: 'tags',
                resizable: false,
                formatter: (cell) => {
                    let value = cell.getValue().sort((a, b) => a.label.localeCompare(b.label));

                    if (!value) {
                        return '';
                    }

                    let tags = value.map((tag) => {
                        return `<span class="badge bg-gradient me-2" style="background-color: ${tag.color}; color: ${tag.text_color};">${tag.label}</span>`;
                    });

                    return tags.join(' ');
                },
                headerFilter: 'input',
                headerFilterFunc: (headerValue, rowValue) => {
                    let filterValue = headerValue
                        .toLowerCase()
                        .split(',')
                        .map((value) => value.trim())
                        .filter((value) => value !== '');

                    if (!rowValue) {
                        return false;
                    }

                    let allSearchValues = new Set();

                    rowValue.forEach((tag) => tag.searchable_value.forEach((value) => allSearchValues.add(value.toLowerCase())));

                    allSearchValues = [...allSearchValues];

                    return filterValue.every((value) => allSearchValues.some((allValue) => allValue.includes(value)));
                },
                sorter: (a, b) => {
                    let aValues = a.map((tag) => tag.searchable_value.join(' ')).join(' ');
                    let bValues = b.map((tag) => tag.searchable_value.join(' ')).join(' ');

                    // Check if either value is an empty string and adjust sorting
                    if (aValues === '' && bValues !== '') {
                        return 1; // a should be sorted after b
                    } else if (aValues !== '' && bValues === '') {
                        return -1; // a should be sorted before b
                    }

                    // If neither value is an empty string, proceed with normal comparison
                    return aValues.localeCompare(bValues);
                },
            },
        ];

        table = new Tabulator('#location-table', {
            data: locations,
            columns: tableColumns,
            layout: 'fitColumns',
            resizableRows: false,
            initialSort: [
                { column: 'name', dir: 'asc' },
                { column: 'tags', dir: 'asc' },
            ],
            // Pagination
            pagination: 'local',
            paginationSize: 10,
            paginationSizeSelector: [10, 25, 50, 100],
            // No Results
            placeholder: 'No Locations Found',
        });

        table.on('rowClick', (e, row) => {
            window.location.href = `/note-editor?type=locations&id=${row.getData()._id}`;
        });
    }

    function setupListeners() {}
</script>
