<!-- ToastUI - Editor -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<!-- ToastUI - Colour Picker -->
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.css" />
<script src="https://uicdn.toast.com/tui-color-picker/v2.2.6/tui-color-picker.min.js"></script>
<!-- ToastUI - Colour Syntax Plugin -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css" />
<script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>

<main id="note-editor">
    <div class="page-header shadow-sm sticky-top">
        <div class="container-xl">
            <div class="d-flex align-items-center justify-content-between">
                <h1 tabindex="0" class="app-page-title m-0">Note Editor</h1>
            </div>
        </div>
    </div>

    <div class="content pt-3 p-md-3 p-lg-4">
        <div id="editor-container" hidden>
            <div>
                <div id="editor"></div>
            </div>

            <div>
                <div class="card page-card" id="meta-card">
                    <div class="card-header">
                        <h4 class="card-title" id="meta-title">Metadata</h4>
                    </div>
                    <form class="card-body" id="meta-body">
                        <!--  -->
                    </form>
                </div>
            </div>
        </div>
        <div id="details-card" class="card page-card">
            <div class="card-header">
                <h4 class="card-title">Details</h4>
            </div>
            <div class="card-body toastui-editor-contents" id="details"></div>
        </div>
    </div>

    <div class="modal" id="icon-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="icon-grid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirm-icon">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="button-container">
    <button id="edit-button">
        <i class="bx bxs-edit"></i>
    </button>
    <button id="save-button" hidden>
        <i class="bx bxs-save"></i>
    </button>
    <button id="delete-button">
        <i class="bx bxs-trash"></i>
    </button>
</div>

<script type="module">
    // Buttons
    const saveButton = document.getElementById('save-button');
    const editButton = document.getElementById('edit-button');
    const deleteButton = document.getElementById('delete-button');

    // Editor-related Elements
    const editorContainer = document.getElementById('editor-container');
    const editorEl = document.getElementById('editor');
    const detailsCard = document.getElementById('details-card');
    const detailsEl = document.getElementById('details');

    // Metadata Card Elements
    const metaCard = document.getElementById('meta-card');
    const metaTitle = document.getElementById('meta-title');
    const metaBody = document.getElementById('meta-body');

    // Icon Modal Elements
    const iconModalEl = document.getElementById('icon-modal');
    const iconModal = new bootstrap.Modal(iconModalEl);
    const iconGrid = iconModalEl.querySelector('.modal-body .icon-grid');
    const confirmIcon = iconModalEl.querySelector('#confirm-icon');

    // Initialise Editor
    const Editor = toastui.Editor;
    let editor;

    // State Management
    let unsavedChanges = false;
    let previousValue;

    // Data Variables
    let data = {};
    let template;

    // URL Parameters
    let urlParams = getUrlParams();
    let noteType = urlParams.get('type') ?? 'characters';
    let noteId = urlParams.get('id');
    let isNew = urlParams.get('new');

    setupIconModal();

    function loadMetadata() {
        callService('/content/getTemplate/' + noteType, 'GET', (res, xhr) => {
            if (xhr.status !== 200) {
                console.error('Error loading metadata template');
            }

            metaTitle.innerHTML = res.title;
            metaBody.innerHTML = res.meta;

            template = res.data;

            if (noteId) {
                callService(`/content/getNote/${noteId}`, 'GET', (res, xhr) => {
                    if (xhr.status !== 200) {
                        console.error('Error loading note');
                    }

                    data = res;

                    template = res.content;

                    for (const key in res) {
                        const element = res[key];
                        const input = metaBody.querySelector(`[name="${key}"]`);

                        if (input && input.type !== 'radio') {
                            input.value = element;
                        } else if (input && input.type === 'radio') {
                            const radio = metaBody.querySelector(`[name="${key}"][value="${element}"]`);
                            radio.checked = true;
                        }

                        if (key === 'icon') {
                            let title = element.replace(/^.*\/(.*)\.svg/, '$1');
                            title = title.replace(/^./, title[0].toUpperCase());

                            metaBody.querySelector('.icon-title').innerHTML = 'Selected: ' + title;
                            if (iconGrid.querySelector(`[data-icon="${element}"]`)) iconGrid.querySelector(`[data-icon="${element}"]`).classList.add('selected');
                        }
                    }

                    setupEditor();
                });
            } else setupEditor();
        });
    }

    function setupEditor() {
        editor = new Editor({
            el: document.querySelector('#editor'),
            usageStatistics: false,
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            height: '800px',
            initialValue: template ?? '',
            toolbarItems: [
                ['heading', 'bold', 'italic', 'strike'],
                ['hr', 'quote'],
                ['ul', 'ol', 'task', 'indent', 'outdent'],
                ['table', 'link'],
                ['code', 'codeblock'],
            ],
            plugins: [toastui.Editor.plugin.colorSyntax],
        });

        editor.on('change', () => {
            const currentValue = editor.getMarkdown();

            if (currentValue !== previousValue) {
                unsavedChanges = true;
            } else {
                unsavedChanges = false;
            }
        });

        detailsEl.innerHTML = editor.getHTML();
        previousValue = editor.getMarkdown();

        setupListeners();
    }

    function setupIconModal() {
        callService('/icons', 'PATCH', (res, xhr) => {
            if (xhr.status === 200) {
                let icons = res;

                icons.forEach((icon) => {
                    let option = document.createElement('div');
                    option.dataset.icon = icon;
                    option.className = 'icon-option';

                    let title = icon.replace(/^.*\/(.*)\.svg/, '$1');
                    title = title.replace(/^./, title[0].toUpperCase());
                    option.title = title;

                    fetch(icon)
                        .then((res) => res.text())
                        .then((svg) => {
                            option.innerHTML = svg;
                        });

                    option.addEventListener('click', () => {
                        iconGrid.querySelector('.icon-option.selected')?.classList.remove('selected');

                        option.classList.add('selected');
                    });

                    iconGrid.appendChild(option);
                });

                loadMetadata();
            }
        });
    }

    function setupListeners() {
        metaBody.addEventListener('submit', (e) => {
            e.preventDefault();
        }); // Prevent form submission

        function toggleEditor() {
            if (editorContainer.hidden) {
                editorContainer.hidden = false;

                detailsEl.innerHTML = '';
                detailsCard.hidden = true;

                editButton.hidden = true;
                saveButton.hidden = false;
            } else {
                editorContainer.hidden = true;

                detailsEl.innerHTML = editor.getHTML();
                detailsCard.hidden = false;

                editButton.hidden = false;
                saveButton.hidden = true;
            }
        }

        if (isNew) toggleEditor();

        function handleSave() {
            // if (unsavedChanges) {
            data.type = noteType;
            if (noteId) {
                data.id = noteId;
            }
            data.content = editor.getMarkdown();

            const formData = new FormData(metaBody);

            formData.forEach((value, key) => {
                data[key] = value;
            });

            // prettier-ignore
            callService('/content/saveNote', 'POST', (res, xhr) => {
                    if (xhr.status === 200) {
                        unsavedChanges = false;
                        previousValue = editor.getMarkdown();

                        toggleEditor();
                    }
                }, data);
            // }
        }

        editButton.addEventListener('click', toggleEditor);
        saveButton.addEventListener('click', handleSave);
        deleteButton.addEventListener('click', () => {
            alert('To Be Added.');

            // if (confirm('Are you sure you want to delete this note?')) {
            //     callService('/content/deleteNote/' + noteId, 'DELETE', (res, xhr) => {
            //         if (xhr.status === 200) {
            //             window.location.href = '/notes?type=' + noteType;
            //         }
            //     });
            // }
        });

        confirmIcon.addEventListener('click', () => {
            let selectedIcon = iconGrid.querySelector('.icon-option.selected');

            if (selectedIcon) {
                let icon = selectedIcon.dataset.icon;
                let name = selectedIcon.title;

                let iconEl = document.createElement('img');
                iconEl.src = icon;

                metaBody.querySelector('[name="icon"]').value = icon;
                metaBody.querySelector('.icon-title').innerHTML = 'Selected: ' + name;

                iconModal.hide();
            }
        });
    }
</script>
